
	.a5 img {
		-webkit-transition: width 0.4s linear, height 0.4s linear, -webkit-transform 0.4s linear;
		-moz-transition: width 0.4s linear, height 0.4s linear, -moz-transform 0.4s linear;
		-o-transition: width 0.4s linear, height 0.4s linear, -o-transform 0.4s linear;
		transition: width 0.4s linear, height 0.4s linear, transform 0.4s linear;
	}
	.a5:hover img {
		width: 275px;
		height: 180px;
		-webkit-transform: translate(-12.5px, -8px);
		-moz-transform: translate(-12.5px, -8px);
		-o-transform: translate(-12.5px, -8px);
		transform: translate(-12.5px, -8px);
	}
