<style type="text/css">
	.showbox {
		width: 580px;
		height: 435px;
		border: 2px solid #1dd;
		vertical-align: middle;
	}
	.abgne-block-20120106 {
		margin-top: 10px;
		width: 500px;
		overflow: hidden;
	}
	.abgne-block-20120106 a {
		margin-right: 10px;
	}
	.abgne-block-20120106 a img {
		width: 140px;
		height: 92px;
		border: 2px solid #1dd;
		vertical-align: middle;
	}
</style>